.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}.pace-inactive{display:none}.pace .pace-progress{background:#27ae60;position:fixed;z-index:200;top:46px;right:100%;width:100%;height:4px}



body
{
	padding-top: 46px; 
	box-sizing: border-box; 
	overflow-y: hidden; 
}
#biography #content
{
	margin: 0 auto; 
    position: static; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    position: absolute; 
    padding-top: 46px; 
    box-sizing: border-box; 
}
#theater
{
	height: 100%; 
	box-sizing: border-box; 
	width: 100%; 
	margin: 0; 
	padding: 0 205px 0 0; 
	position: static; 
	float: right;
	max-width: unset;
}
#biography
{
	width: 100% !important; 
	top: 0; 
	position: absolute; 
	padding-top: 46px; 
	box-sizing: border-box; 
	margin-top: unset; 
	height: 100%; 
}
#sidebar
{
	height: 100% !important; 
	padding-top: 46px;
	box-sizing: border-box;
}
.nav_arrow
{
	padding-top: 46px; 
	box-sizing: border-box; 
}
.carr
{
	height: 100%; 
	writing-mode: vertical-lr; 
	width: 100%; 
	overflow-x: hidden; 
}
.carr .picture .pic{ 
    width: 100%; 
} 
#theater img
{
	height: 100%; 
	object-fit: contain; 
}
.navigation
{
	height: 100%;
}
.picture {
    height: 100%;
    width: 100%;
}
#theater .nav_arrow.right {
    right: 552.9px;
}
.vjs-poster
{
	padding-bottom: unset !important; 
	margin-bottom: 44px; 
}
.video-js .vjs-tech {
padding-bottom: 45px}
.cc-attribution-icon{
background-image: url(https://creativecommons.org/images/deed/attribution_icon_white_x2.png);
width: 1.7em;
height: 1.7em;
display: inline-block;
background-color: #ddd;
background-size: cover;
box-sizing: border-box;
border: 0.1em solid #ddd;
border-radius: 50%;
margin-bottom: -0.5em;
}
.cc-nd-icon{
background-image: url(https://creativecommons.org/images/deed/nd_white_x2.png);
width: 1.7em;
height: 1.7em;
display: inline-block;
background-color: #ddd;
background-size: cover;
box-sizing: border-box;
border: 0.1em solid #ddd;
border-radius: 50%;
margin-bottom: -0.5em;
}
.cc-cc-icon{
background-image: url(https://creativecommons.org/images/deed/cc_icon_white_x2.png);
width: 1.7em;
height: 1.7em;
display: inline-block;
background-color: #ddd;
background-size: cover;
box-sizing: border-box;
border: 0.1em solid #ddd;
border-radius: 50%;
margin-bottom: -0.5em;
}
.cc-no_copyright-icon{
background-image: url(https://creativecommons.org/images/deed/no_copyright_blue_x2.png);
width: 1.7em;
height: 1.7em;
display: inline-block;
background-color: #ddd;
background-size: cover;
box-sizing: border-box;
border: 0.1em solid #ddd;
border-radius: 50%;
margin-bottom: -0.5em;
}
text{
    color: #666
}
#theater .vjs-text-track-display {
    bottom: 8em;
}
i, q, b, sup  
{ 
  color: inherit; 
  font-weight: lighter} 
b
{
    color: #666262;
}
.vjs-text-track{
    background-color: #e5daec17 !important;
}
.vjs-tt-cue {
    color: #f9fbf8;
    text-shadow: -1px 0 1px #847f7f, 0 1px 1px #847f7f, 1px 0 1px #847f7f, 0 -1px 1px #847f7f;
}
.navigation > .Playuse, #picContainer > .Playuse{
	display: none;
}