#grid, #water, #holes, #kitchen_oil 
{
	font-family: monospace; 
	width: 60em; 
	font-size: 10px; 
	height: 14em; 
	resize: none; 
	background-color: #0000; 
	border: 1px solid grey; 
	padding: 2px; 
	position: absolute; 
}
#grid.fried 
{ 
	caret-color: #22e8de; 
} 
#water 
{ 
	color: blue; 
} 
#kitchen_oil 
{ 
	color: #22e8de; 
} 
#lives 
{ 
	top: 7em; 
	position: absolute; 
	border: 1px inset #000; 
	font-size: 20px; 
	padding: 0 5px; 
} 
#currency 
{ 
	top: 8.5em; 
	position: absolute; 
	border: 1px inset #000; 
	font-size: 20px; 
	padding: 0 5px; 
} 